@model IEnumerable<Touche.Models.Chef>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Layout/DefaultLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.About)
        </th>
        <th col-md-1>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.About)
        </td>
        <td class="col-md-1">
            <img src='@Url.Content("~/Content/Images/"+@item.Image)' class="img-responsive" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
           <button data-id="@item.Id" data-controller="chef" class="delete-item">Delete</button>
        </td>
    </tr>
}

</table>
